#Header h1 {
	text-align: center;
	font-size: 60px;
	font-family: "Passion One";
	color: #FFBC00;
	font-weight: bold;
	background-color: purple;
}

#Header {
	border: solid 8px black;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10 px;
}

#LeftNav {
	width: 400px;
	float: left;
	padding-bottom: 20px;
}

#Content {
	width: 700px;
	padding: 15px;
	background-color: purple;
}

#LeftNav, #Content, #Footer, #Header {
	text-align: center;
}

ul {
		list-style-type: none;
}

p {
	font-weight: bold;
	color: white;
	font-family: "Arial";
}
